:root {
  --color-main: #0a062d;
  --color-sub: #1a182c;
  --color-point: #f31474;
  --color-point-sub: #28daee;
  --color-white: #ffffff;
  --color-light-gray: #e9e9e9;
  --color-black: #000000;

  /* font weigiht */
  --font-bold: 700;
  --font-light: 200;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  background-color: var(--color-main);
  color: var(--color-white);
  padding-top: 2.5em;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.section__title {
  font-size: 2em;
  text-align: center;
  margin: 0px;
  padding-bottom: 1.5em;
}

/* header - nav */
#header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  width: 60%;
  border: 2px solid var(--color-point);
  border-radius: 8px;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__item {
  font-weight: var(--font-bold);
  color: var(--color-point);
}

/* home */
#home {
  padding: 8em 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__title {
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
}

.home__title__line {
  position: relative;
  margin: 12px 0px;
}

.home__title__line::after {
  z-index: -1;
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 12px;
  width: 100%;
  background-color: var(--color-point);
}
.home__description {
  line-height: 2em;
}

/* skills */
#skills {
  background-color: var(--color-sub);
  padding: 4em;
}

.skills__container {
  display: flex;
  justify-content: center;
}

.skills__list {
  border: 2px solid var(--color-point);
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em;
  box-shadow: 0px 1px 8px 0px rgba(243, 20, 116, 0.75);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(243, 20, 116, 0.75);
  -moz-box-shadow: 0px 1px 8px 0px rgba(243, 20, 116, 0.75);
}

/* projects */
#projects {
  padding: 4em;
}

.project {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4em;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project__img {
  width: 600px;
  margin-right: 1.5em;
  border-radius: 8px;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__title {
  margin: 0px;
  font-size: 1.5em;
}

.project__skills {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  font-size: 1.3em;
}

.project__function {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

/* contact */
#contact {
  background-color: var(--color-sub);
  padding: 4em;
}

.section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__email {
  font-size: 1.4em;
  margin: 4px 0px;
}

.section__text {
  font-size: 1.2em;
  margin: 4px 0px;
}

.section__icons {
  width: 30%;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  margin-top: 8px;
}

.section__icon {
  transition: all 250ms ease-in;
}

.section__icon:hover {
  color: var(--color-point);
  transform: scale(1.2) rotate(15deg);
}
